//product our services

.product {
    color: white;
    border: 7px solid rgb(185, 181, 173);
    width: 100%;
    max-height: 100%;
    background-color: #F04D61;
    border-radius: 30px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);


    &-button {
        font-weight: bold ;
        margin-top: 25px;
        border: 2px solid white ;
        color: #f7f5ec ;
        background-color: #F04D61 ;

        &:hover {
            font-weight: bold ;
            margin-top: 25px;
            border: 2px solid white ;
            color: #F04D61;
            background-color: #f7f5ec;
        
        }
    }
}
/*
    &-button {
        font-weight: bold !important;
        margin-top: 25px;
        border: 2px solid white !important;
        color: #f7f5ec !important;
        background-color: #F04D61 !important;

        &:hover {
            font-weight: bold !important;
            margin-top: 25px;
            border: 2px solid white !important;
            color: #F04D61 !important;
            background-color: #f7f5ec !important;
        
        }
    }
}
*/